{% extends "operador/layout.html" %}
{% block content %}
<h2>Envio de Turnos</h2>
<br>
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th>Unidad</th>
                    <th>Acción</th>
                    <th>Activar</th>
                </tr>
            </thead>
            <tbody>
                {% for unidad in unidades %}
                <tr>
                    <form action="/operador/in_guardias" method="POST">
                        <td >
                            <input type="text" name="unidad" value="{{ unidad }}" hidden>
                            {{ unidad }} 
                        </td>
                        <td>
                            <button  class="editar btn btn-primary">Activar</button>
                        </td>
                        <td>
                            <button type="button" id="miBoton{{ loop.index }}" class="btn btn-secondary">Activado</button>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').select2();
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        });
        var table = $('#myTable').DataTable();
    });
    $(document).ready(function () {
    $("form").submit(function (event) {
        event.preventDefault();
        var form = this;
        Swal.fire({
            title: '¿Estás seguro de enviarlo?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, enviar!'
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit();
            }
        });
    });
});



// Lista de todos los ids de tus botones
var idsBotones = Array.from({length: {{ unidades|length }}}, (_, i) => 'miBoton' + (i + 1));

// Función para el evento de clic del botón
function eventoBoton() {
    var colorActual = this.style.backgroundColor;
    if (colorActual === 'rgb(255, 255, 0)') { // rgb(255, 255, 0) es el código RGB para amarillo
        // Si el color actual es amarillo, cambia a blanco
        this.style.backgroundColor = '#FFFFFF';
        localStorage.setItem(this.id, '#FFFFFF');
    } else {
        // Si el color actual no es amarillo, cambia a amarillo
        this.style.backgroundColor = '#FFFF00';
        localStorage.setItem(this.id, '#FFFF00');
    }
}

// Evento click para cada botón
idsBotones.forEach(function(id) {
    var boton = document.querySelector('#' + id);
    boton.addEventListener('click', eventoBoton);

    // Al cargar la página, establece el color del botón al último color guardado
    var colorGuardado = localStorage.getItem(id);
    if (colorGuardado) {
        boton.style.backgroundColor = colorGuardado;
    }
});

</script>

{% endblock %}