{% extends "operador/layout.html" %}
{% block content %}
<h2>Envio de Turnos</h2>
<br>
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th>Unidad</th>
                    <th>Acción</th>
                    <th>Activar</th>
                </tr>
            </thead>
            <tbody>
                {% for unidad in unidades %}
                <tr>
                    <form action="/operador/in_guardias" method="POST">
                        <td >
                            <input type="text" name="unidad" value="{{ unidad }}" hidden>
                            {{ unidad }} 
                        </td>
                        <td>
                            <button  class="editar btn btn-primary">Activar</button>
                        </td>
                        <td>
                            <button type="button" id="miBoton{{ loop.index }}" class="btn btn-secondary">Activado</button>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').select2();
        $('#myTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        });
        var table = $('#myTable').DataTable();
    });
    $(document).ready(function () {
    $("form").submit(function (event) {
        event.preventDefault();
        var form = this;
        Swal.fire({
            title: '¿Estás seguro de enviarlo?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, enviar!'
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit();
            }
        });
    });
});


// Espera a que el documento esté listo
document.addEventListener('DOMContentLoaded', (event) => {
    // Obtiene todos los botones con la clase 'editar'
    let botonesEditar = document.querySelectorAll('.editar');

    // Añade un evento de clic a cada botón 'editar'
    botonesEditar.forEach((boton, index) => {
        boton.addEventListener('click', () => {
            // Obtiene el botón correspondiente con id 'miBoton'
            let botonActivado = document.getElementById('miBoton' + (index + 1));

            // Cambia el color del botón a amarillo
            botonActivado.style.backgroundColor = 'yellow';

            // Guarda el estado en localStorage
            localStorage.setItem('miBoton' + (index + 1), 'yellow');
        });
    });

    // Obtiene todos los botones con id que comienza con 'miBoton'
    let botonesActivados = document.querySelectorAll('[id^="miBoton"]');

    // Añade un evento de clic a cada botón 'miBoton'
    botonesActivados.forEach((boton, index) => {
        boton.addEventListener('click', () => {
            // Cambia el color del botón a su color original
            boton.style.backgroundColor = '';

            // Guarda el estado en localStorage
            localStorage.setItem('miBoton' + (index + 1), '');
        });
    });
});

// Recupera el estado de los botones del localStorage al cargar la página
window.onload = function() {
    let botonesActivados = document.querySelectorAll('[id^="miBoton"]');

    botonesActivados.forEach((boton, index) => {
        let color = localStorage.getItem('miBoton' + (index + 1));
        if (color) {
            boton.style.backgroundColor = color;
        }
    });
};


</script>

{% endblock %}