{% extends "admin/layout.html" %}
{% block content %}
<h1 style="text-align: center;">Vista de Carreras</h1>
<br>
<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
    </span>
    <input type="search" id="filtro" class="form-control" placeholder="Busqueda" aria-label="Username"
        aria-describedby="addon-wrapping">
</div>
<br>
<div>
    <a href="{{ url_for('r_carreras') }}" class="btn btn-primary">Reporte Completo </a>
</div>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Unidad</th>
            <th scope="col">Observacion</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th>Acciones</th>
        </tr>
    </thead>
    {% for carreras in carreras %}
    <tbody data-cliente="{{ carreras.cliente }}">
        <form action="/edit_car/{{carreras.cliente}}" method="post">
            <tr>
                <th scope="row">
                    <input type="text" class="form-control" name="cliente" value="{{carreras.cliente}}">
                </th>
                <td><input type="text" class="form-control" name="unidad" value="{{carreras.unidad}}"></td>
                <td><input type="text" class="form-control" name="comentario" value="{{carreras.comentario}}"></td>
                <td><input type="date" class="form-control" name="fecha" value="{{carreras.fecha}}"></td>
                <td><input type="text" class="form-control" name="hora" value="{{carreras.hora}}"></td>
                <td class="">
                    <button type="submit" class="editar btn btn-primary">Editar</button>
                    <a href="{{url_for('elitcarre',car_name=carreras.cliente)}}" class="eliminar btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </form>
    </tbody>
    {% endfor %}
</table>
<script>
    // Filtrado para carreras
    $(document).ready(function () {
        $("#filtro").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("tbody[data-cliente]").filter(function () {
                $(this).parent().toggle($(this).data("cliente").toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script src="/static/js/edi_eli.js"></script>
{% endblock %}