{% extends "admin/layout.html" %}
{% block content %}
<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
    </span>
    <input type="search" id="filtro" class="form-control" placeholder="Busqueda" aria-label="Username"
        aria-describedby="addon-wrapping">
</div>
<br>
<div>
    <a href="{{ url_for('r_cliente') }}" class="btn btn-primary">Reporte Completo </a>
</div>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Direccion</th>
            <th scope="col" class="extra">Coordenandas </th>
            <th scope="col" class="extra">Cedula</th>
            <th scope="col" class="extra">Referencia</th>
            <th scope="col" class="extra">Comentario</th>
            <th scope="col" class="extra">Acciones</th>
        </tr>
    </thead>
    {% for cliente in clientes %}
    <tbody data-nombre="{{ cliente.nombre }}">
        <form action="/edit_cli/{{cliente.nombre}}" method="post">
            <tr>
                <th scope="row">
                    <input type="text" class="form-control" name="nombre" value="{{cliente.nombre}}">
                </th>
                <td><input type="number" class="form-control" name="telefono" value="{{cliente.telefono}}"></td>
                <td><input type="text" class="form-control" name="direccion" value="{{cliente.direccion}}"></td>
                <td ><input type="url" class="form-control" name="coordenadas" value="{{cliente.coordenadas}}"></td>
                <td ><input type="number" class="form-control" name="cedula" value="{{cliente.cedula}}"></td>
                <td ><input type="text" class="form-control" name="referencia" value="{{cliente.referencia}}"></td>
                <td ><input type="text" class="form-control" name="comentario" value="{{cliente.comentario}}"></td>
                <td >
                    <button type="submit" class="editar btn btn-primary">Editar</button>
                    <a href="{{url_for('elitcli',cli_name=cliente.nombre)}}" class="eliminar btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </form>
    </tbody>
    {% endfor %}
</table>
<script>
    // Filtrado para carreras
    $(document).ready(function () {
        $("#filtro").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("tbody[data-nombre]").filter(function () {
                $(this).parent().toggle($(this).data("nombre").toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script src="/static/js/edi_eli.js"></script>
{% endblock %}