{% extends "admin/layout.html" %}
{% block content %}
<style>
    /* Imagen */
    .imagen {
        width: 10%;
        height: auto;
    }

    /* Reloj */
    .reloj {
        text-align: center;
        width: 150%;
        margin: 0 20px;
    }

    #hora {
        font-size: 48px;
        font-weight: bold;
    }

    #fecha {
        font-size: 24px;
    }

    /* Enlaces */
    .enlaces {
        text-align: right;
        width: 30%;
    }
</style>
<div class="contenedor">

    <div class="reloj">
        <p id="hora"></p>
        <p id="fecha"></p>
    </div>
</div>
<br>
<div>
        <p>Enlaces</p>
        <ul><a href="">Ir a pagina </a></ul>
        <ul><a href="">Pagina 2</a></ul>
        <ul><a href=""> Pagina 3</a></ul>
</div>
<script>
    function actualizarReloj() {
        const horaActual = new Date();
        const hora = horaActual.getHours();
        const minutos = horaActual.getMinutes();
        const segundos = horaActual.getSeconds();
        const fecha = horaActual.toLocaleDateString();

        const horaFormato = `${hora < 10 ? '0' + hora : hora}:${minutos < 10 ? '0' + minutos : minutos}:${segundos < 10 ? '0' + segundos : segundos}`;

        document.getElementById('hora').textContent = horaFormato;
        document.getElementById('fecha').textContent = fecha;
    }

    setInterval(actualizarReloj, 1000);

    actualizarReloj();
</script>
{% endblock %}