{% extends "admin/layout.html" %}
{% block content %}
<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">

        <form action="/admin/in_carreras" method="POST">
            <div class="formbold-form-title">
                <h2 class="">Registro de Carreras</h2>
                <p>
                    Registrar todos los campos son obligatorios
                </p>
            </div>
            <div class="formbold-input-flex">
                <div>
                    <label for="firstname" class="formbold-form-label">
                        Ingreso de Clientes
                    </label>
                    <select name="cliente" class="form-control" id="">
                        {% for cliente in clientes %}
                        <option value="{{ cliente }}">{{ cliente }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="lastname" class="formbold-form-label">Ingreso de Unidad</label>
                    <select name="unidad" class="form-control" id="">
                        {% for medias in media %}
                        <option value="{{ medias }}">{{ medias }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="lastname" class="formbold-form-label">Observación</label>
                    <input type="text" name="comentario" class="form-control">
                </div>
                <div>
                    <label for="lastname" class="formbold-form-label">Fecha</label>
                    <input type="date" id="fecha" name="fecha" class="form-control" readonly>
                </div>
                <div>
                    <label for="lastname" class="formbold-form-label">Hora</label>
                    <input type="text" id="hora" name="hora" class="form-control" readonly>
                </div>
            </div>
            <button class="formbold-btn">Guardar</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>
<script>
    document.querySelector('input[name="comentario"]').addEventListener('change', function () {
        var fecha = new Date();
        document.querySelector('input[name="fecha"]').value = fecha.toISOString().substring(0, 10);
        document.querySelector('input[name="hora"]').value = fecha.getHours() + ":" + fecha.getMinutes() + ":" + fecha.getSeconds();
    });
</script>
<script>
    // Validacion si los campos estan vacios
    document.querySelector('form').onsubmit = function (e) {
        var inputs = this.querySelectorAll('input');
        var todosLlenos = true; // Asume que todos los campos están llenos
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].value === '') {
                todosLlenos = false; // Si un campo está vacío, establece todosLlenos en falso
                break; // No necesitas verificar el resto de los campos, así que puedes salir del bucle
            }
        }

        if (!todosLlenos) {
            e.preventDefault(); // Previene el envío del formulario
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Los campos estan vacios '
            });
        }
    };

</script>
<script>
    $(document).ready(function () {
        $('select').select2();
    });
</script>
{% endblock %}