{% extends "admin/layout.html" %}
{% block content %}
<ion-toolbar>
    <ion-title style="text-align: center;"> Ingreso de Unidades</ion-title>
</ion-toolbar>
<br>
<form action="/admin/in_unidades" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="">Unidad</label>
            <input type="text" class="form-control" name="unidad">
        </div>
        <div class="form-group col-md-6">
            <label for="">Placa</label>
            <input type="text" class="form-control" name="placa">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Modelo</label>
        <input type="text" class="form-control" name="modelo" >
    </div>
    <div class="form-group">
        <label for="inputAddress2">Marca</label>
        <input type="text" class="form-control" name="marca">
    </div>
    <div class="form-group">
        <label for="">Color</label>
        <select name="color" class="form-control">
            <option value="Amarillo">Amarillo</option>
            <option value="Color">Color</option>
        </select>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputState">Observacion</label>
            <input type="text" class="form-control" name="observacion">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Orden</label>
            <input type="text" class="form-control" name="orden">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Estado de codigo</label>
            <input type="number" class="form-control" name="es_codigo">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Estado de tipo</label>
            <input type="text" class="form-control" name="es_tipo">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">Estado de Fecha</label>
            <input type="date" class="form-control" name="es_fecha">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<script src="/static/js/ingreso.js"></script>
{% endblock %}