<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>

<body>
    <ion-app>
        <ion-menu content-id="main-content">
            <ion-header>
                <ion-toolbar color="tertiary">
                    <ion-title>Menu de Contenido</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
                <ion-breadcrumbs max-items="2">
                    <ion-breadcrumb href="./admin">Admin</ion-breadcrumb>
                    <ion-breadcrumb href="./in_admin">Ingreso Admin</ion-breadcrumb>
                    <ion-breadcrumb readonly><ion-icon name="chevron-back-outline"></ion-icon></ion-breadcrumb>
                </ion-breadcrumbs>
                <ion-breadcrumbs max-items="2">
                    <ion-breadcrumb href="./cliente">Cliente</ion-breadcrumb>
                    <ion-breadcrumb href="./in_cliente">Ingreso Cliente</ion-breadcrumb>
                    <ion-breadcrumb readonly><ion-icon name="chevron-back-outline"></ion-icon></ion-breadcrumb>
                </ion-breadcrumbs>
                <ion-breadcrumbs max-items="2">
                    <ion-breadcrumb href="./usuarios">Usuarios</ion-breadcrumb>
                    <ion-breadcrumb href="./in_usuario">Ingreso Usuarios</ion-breadcrumb>
                    <ion-breadcrumb readonly><ion-icon name="chevron-back-outline"></ion-icon></ion-breadcrumb>
                </ion-breadcrumbs>
                <ion-breadcrumbs max-items="2">
                    <ion-breadcrumb href="./unidades">Unidades</ion-breadcrumb>
                    <ion-breadcrumb href="./in_unidades">Ingreso Unidades</ion-breadcrumb>
                    <ion-breadcrumb readonly><ion-icon name="chevron-back-outline"></ion-icon></ion-breadcrumb>
                </ion-breadcrumbs>
                <ion-breadcrumbs max-items="2">
                    <ion-breadcrumb href="./carreras">Carreras</ion-breadcrumb>
                    <ion-breadcrumb href="./in_carreras">Ingreso Carreras</ion-breadcrumb>
                    <ion-breadcrumb readonly><ion-icon name="chevron-back-outline"></ion-icon></ion-breadcrumb>
                </ion-breadcrumbs>
                <ion-breadcrumbs max-items="2">
                    <ion-breadcrumb href="./conductores">Conductores</ion-breadcrumb>
                    <ion-breadcrumb href="./in_conductores">Ingreso Conductores</ion-breadcrumb>
                    <ion-breadcrumb readonly><ion-icon name="chevron-back-outline"></ion-icon></ion-breadcrumb>
                </ion-breadcrumbs>
                <ion-popover>
                    <ion-content>
                        <ion-list></ion-list>
                    </ion-content>
                </ion-popover>
            </ion-content>
        </ion-menu>
        <div class="ion-page" id="main-content">
            <ion-header>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
                {% block content %}
                {% endblock %}
            </ion-content>
        </div>
    </ion-app>

    <style>
        ion-menu::part(backdrop) {
            background-color: rgba(255, 0, 255, 0.5);
        }

        ion-menu::part(container) {
            border-radius: 0 20px 20px 0;

            box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
        }
    </style>

    <script>
       const breadcrumbs = document.querySelectorAll('ion-breadcrumbs');
const popover = document.querySelector('ion-popover');
const popoverList = document.querySelector('ion-popover ion-list');

breadcrumbs.forEach((breadcrumb) => {
    breadcrumb.addEventListener('ionCollapsedClick', (e) => {
        let listHTML = ``;
        e.detail.collapsedBreadcrumbs.forEach((breadcrumb, i) => {
            listHTML += `
            <ion-item
                ${i === e.detail.collapsedBreadcrumbs.length - 1 ? `lines="none"` : ''}
                href="${breadcrumb.href}"
            >
                <ion-label>${breadcrumb.textContent}</ion-label>
            </ion-item>
            `;
        });

        popoverList.innerHTML = listHTML;
        popover.event = e;
        popover.isOpen = true;
    });
});

popover.addEventListener('didDismiss', () => (popover.isOpen = false));

    </script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
</body>

</html>